<div class="support">
  <div class="support-container">        
    <div id="open-form" class="support-trigger">
      <span>Need Help?</span>
    </div>
    <form action="" class="support-form">
      <label for="">Send us a message</label>                
      <input type="text" class="form-control form-control-stintern" placeholder="Your name Sir ?">
      <input type="email" class="form-control form-control-stintern" placeholder="Email Address please">
      <textarea  class="form-control form-control-stintern" name="" id="" cols="6" rows="6" placeholder="What can we help ?"></textarea>
      <input type="submit" class="button-grey" value="Submit">
    </form>
  </div>
</div><!-- support -->

<footer class="footer">
  <div class="container">        
    <div class="footer-body">
      <div class="footer-left">
        <a href="#" class="footer-logo">
          <svg preserveAspectRatio="xMinYMin meet">
            <use xlink:href="#shape-logo-stintern" />
          </svg>
        </a>
      </div>
      <div class="footer-center">
        <a href="#">For Student</a>
        <a href="#">For Bosses</a>
        <a href="#">About</a>
      </div>
      <div class="footer-right">
        <a href="#"><svg><use xlink:href="#shape-facebook-circle"/></svg></a>
        <a href="#"><svg><use xlink:href="#shape-twitter-circle"/></svg></a>
        <a href="#"><svg><use xlink:href="#shape-instagram-circle"/></svg></a>
      </div>
    </div>
  </div>
  <footer class="footer-footer">
    <small>@ 2015 Stintern.com All Right Reserved. | <a href="#">Terms</a> / <a href="#">Policy</a></small>
  </footer>
</footer><!-- footer -->