<div class="stint-date">
  <div class="stint-date--start">
    <div class="stint-date--box">
      <p class="stint-date--title">START</p>
      <div class="stint-date--day">         
        <p>13</p>
      </div>
      <div class="stint-date--month">                  
        <h6>APR</h6>
        <h6>2015</h6>
      </div>
    </div>
  </div>
  <div class="stint-date--end">
    <div class="stint-date--box">
      <p class="stint-date--title">END</p>
      <div class="stint-date--day">         
        <p>05</p>
      </div>
      <div class="stint-date--month">                  
        <h6>MAY</h6>
        <h6>2015</h6>
      </div>
    </div>
  </div>
</div><!-- stint-date -->