$font-main: 'Open Sans', sans-serif;
$font-secondary: "Crimson Text", serif;
$font-heading: 'Montserrat', sans-serif;

// $color1: rgba(46,191,227, 1);
// #2ebfe3
// $color2: rgba(42,42,42, 1);
// #2a2a2a

$stintern-pink: #e9098a;
// $stintern-blue: #2095f2;
$stintern-blue: #008cba;

$body-color: #333;
$secondary-body-color: #666;

$bg-white: #ffffff;
$bg-light: #f4f4f4;
// default
// $bg-dark: #253137;
// pink extend
// $bg-dark: #2c021a;
// blue extend
$bg-dark: #002531;

$grey1: #e1e1e1;
$grey2: #dddddd;
$grey3: #d1d1d1;

$red: #e43834;
$yellow: #fcd734;
$yellow: #F9A825;
$green: #429f46; //rgb(66,159,70)

$materialz1: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
// Sellfy Box Shadow
// $materialz1: 0 2px 0 0 rgba(1,1,1,0.06);
$materialz2: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
// Sellfy Box Shadow
// $materialz2: 0 2px 0 0 rgba(1,1,1,0.06);
$materialz3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

$sellfy-shadow: 0 2px 0 0 rgba(1,1,1,0.06);

$stint-card-box-shadow: 0 1px 2px rgba(0,0,0,0.1);



$Facebook: #3B5998;
$Flickr: #FE0883;
$Foursquare: #8FD400;
$Googleplus: #C63D2D;
$Instagram: #4E433C;
$Linkedin: #4875B4;
$Tumblr: #2B4964;
$Twitter: #33CCFF;
$Vimeo: #86B32D;
$Youtube: #FF3333;

$facebook: #3B5998;
$flickr: #FE0883;
$foursquare: #8FD400;
$googleplus: #C63D2D;
$instagram: #4E433C;
$linkedin: #4875B4;
$tumblr: #2B4964;
$twitter: #33CCFF;
$vimeo: #86B32D;
$youtube: #FF3333;

$border-radius: 0.3rem;
// $border: 1px solid #eaecf1;
$border: 1px solid #e8e8e8;
// $border: 1px solid transparent;
$border-color: #eaecf1;
$softGrey: rgb(249, 249, 251);


$stintCard-width: 17em;

$material-blue1: #2095f2;
$material-blue2: #1875d1;