/* ==========================================================================
   Form for upload cv (file)
   ========================================================================== */

.checkbox-document {
	padding: 2em 0;
}

.checkbox-document-container {
	// @extend .clearfix;
	text-align: left;
	padding: 2em 1em;
	margin-bottom: 1em;
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
	border-radius: $border-radius;
}

.checkbox-document-item {
	float: left;
	text-align: center;
	max-width: 8em;
	margin-right: 1.2em;

	label {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	p, a {
		font-size: .9em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.checkbox-document-input {
	display: none;

	& + a img {
		max-width: 6em;
		cursor: pointer;
		background: transparent;
		border: 2px solid transparent;
		border-radius: .3em;
	}

	& + a img:hover {
		background: #d0d0d0;
		border: 2px solid #d0d0d0;
		border-radius: .3em;
	}

	&:checked + a img {
		background: lighten($stintern-blue, 5%);
		border: 2px solid lighten($stintern-blue, 5%);
		border-radius: .3em;
	}
}


.checkbox-document-image, .checkbox-document-name, .checkbox-document-action {
	display: block;
	text-align: center;
	margin-top: 1em;
}
@media only screen  and (min-width : 600px) {
	.checkbox-document-image, .checkbox-document-name, .checkbox-document-action {
		display: table-cell;
		vertical-align: bottom;
		text-align: left;
		padding-right: 3em;
		margin: 0;
		zoom: 1;
		transition: all 0.2s ease-in-out;
	}
	.checkbox-document-image {
		padding: 0;
	}
	.checkbox-document-action {
		width: 100%;
		text-align: right;
	}
}