.rating {
	a {
		color: #888;
	}
}

.star {
	margin-bottom: .5rem;
}

.total-star {
	font-weight: 100;
	font-size: 1.5em;
	vertical-align: middle;
	margin-left: .5em;
	padding-left: 1rem;
	border-left: 1px solid #d4d4d4;
}